<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Михаил Божеслав — Разработчик</title>
	</head>
	<body>
		<!-- Footer -->
		<footer class="footer">
			<div class="footer__container">
				<h3 class="footer__name">Михаил Божеслав</h3>
				<p class="footer__role">Разработчик | DevOps Инженер</p>
				<p class="footer__copy">
					© 2026 Copyright. Михаил Анкудинов. Сайт разработан на Laravel ·
					Развёрнут на собственном VPS
				</p>
			</div>
		</footer>
	</body>
</html>
