.page__container {
    padding-top: 110px;
    padding-bottom: 110px;
}

.page__title {
    text-align: center;
    font-size: 2.25rem;
    margin: 0 auto;
}

.page__desc{
    color: var(--muted-fg);
}