/* ==========================================================================
   Sticky footer layout
   ========================================================================== */

body {
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
}

/* ==========================================================================
   BLOCK: footer
   ========================================================================== */

.footer {
	padding: 3rem 1rem;
	border-top: 1px solid var(--border);
	background-color: rgba(var(--primary-rgb), 0.05);
}

.footer__container {
	max-width: 56rem;
	margin: 0 auto;
	text-align: center;
}

.footer__logo {
	color: #1e1e30;
	flex-shrink: 0;
	margin-bottom: 1rem;
	font-size: 1.325rem;
	font-weight: 500;

	transition:
		color var(--transition-time) ease,
		background-color var(--transition-time) ease,
		border-color var(--transition-time) ease;
}

.footer__logo:hover {
	color: #6e6e77;
	/* color: var(--fg); */
}

.footer__role {
	margin-bottom: 1.5rem;
	color: var(--muted-fg);
}

.footer__copy {
	color: var(--muted-fg);
	font-size: 0.875rem;
}
